.center {
  margin: auto;
  text-align: center;
}

.bg-light {
  background: #dee;
  color: #344;
}

.bg-dark {
  background: #344;
  color: #dee;
}

body {
  background: #344;
  color: #dee;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

a {
  color: #dee;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header::after {
  background-image: url(../img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  display: block;
  filter: blur(8px);
  height: 100vh;
  transition: all 1000ms;
  width: 100%;
  -webkit-filter: blur(8px);
}

header:hover::after {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.profile {
  height: 350px;
  left: 50%;
  margin-left: -145px;
  margin-top: 105px;
  position: absolute;
  text-align: center;
  top: 10%;
  transition: all 1000ms;
  width: 300px;
  z-index: 1;
}

.profile img {
  border-radius: 50%;
  height: 180px;
  vertical-align: middle;
  width: 180px;
}

.profile h1 {
  font-size: 2.2rem;
  margin-top: 1rem;
}

.profile p {
  line-height: 1.7;
  margin-top: 1rem;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 4rem 1rem;
}

.grid2,
.grid3 {
  display: grid;
  grid-gap: 20px;
}

.grid2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid3 {
  grid-template-columns: repeat(3, 1fr);
}

footer {
  padding: 2.2rem;
}

footer p {
  margin: 0;
}

/* Small screens */
@media (max-width: 560px) {
  header::after {
    height: 50vh;
  }

  .profile {
    margin-top: 5px;
    top: 5%;
  }

  .profile .avatar {
    height: 140px;
    width: 140px;
  }

  .profile p {
    display: none;
  }

  .grid2,
  .grid3 {
    grid-template-columns: 1fr;
  }

  .social div {
    border-bottom: #344 dashed 1px;
    padding: 1.2rem 1rem;
  }
}

/* Landscape */

@media (max-height: 500px) {
  .profile h1,
  .profile p {
    display: none;
  }

  .profile {
    top: 0;
  }
}
